.home {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  overflow-y: hidden;
}

.image-section {
  position: relative;
  /* background: linear-gradient(rgb(196, 177, 114), rgb(158, 130, 93)); */
  width: 70%;
  border-right: 14px solid;
  border-image:
    linear-gradient(#791400,
      #412700,
      #a09d00)1;
  animation: rotate 2.5s ease-in infinite;
}

.hed{
  width: 100%;
  height: 100%;
  background-color: #00000081;
  padding: 25% 5%;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
}
.hed1{
  width: 100%;
  font-size: 3vw;
  color: white;
  font-weight: 700;
}

@keyframes rotate {
  50% {
    border-image: linear-gradient(360deg,
        #791400,
        #412700,
        #d2c700)1;
  }
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-section {
  width: 30%;
  height: 100%;
  background-color: rgb(248, 255, 255);
  background-image: linear-gradient(135deg, #fafaf5 0%, #e0e2c3 100%);
  color: rgb(0, 0, 0);
}

.SignForm {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SignForm .toggle {
  position: relative;
  top: 2%;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.toggle-button {
  cursor: pointer;
  padding: 0.5vw;
  /* padding: 20px 50px; */
  text-decoration: none;
  color: #005741;
  border: 3px solid #00a078;
  position: relative;
  left: 5%;
}

.toggle-button::before,
.toggle-button::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
  transition: all .5s;
}

.toggle-button::before {
  top: -8px;
  left: -8px;
  border-width: 3px 0 0 3px;
}

.toggle-button::after {
  bottom: -8px;
  right: -8px;
  border-width: 0 3px 3px 0;
}

.toggle-button:hover::before,
.toggle-button:hover::after {
  width: calc(100% + 27px);
  height: calc(100% + 27px);
}




form {
  box-sizing: border-box;
  padding: 14% 0%;
  font-size: 1vw;
  height: 90%;
  width: 80%;
  /* padding: 5%; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  /* margin: auto; */
  /* background: linear-gradient(to bottom, #ffffff, #c5fdff);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
}

/* Form label */
label {
  width: 100%;
  display: block;
  font-size: 1.2vw;
  font-weight: 400;
  margin: 0.5vw 0;
}

/* Form input fields */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  width: 100%;
  padding: 0.8vw 0.2vw;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  width: 100%;
}


/* Form radio buttons */
.radioContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  justify-content: left;
  width: 100%;
  font-weight: 400 !important;
}

input[type="radio"] {
  margin: 0% 1% 0% 10%;
}

input[type="radio"]:first-child {
  margin: 0% 1% 0% 0%;
}

/* Form submit button */
input[type="submit"] {
  margin-top: 6%;
  width: 100%;
  background-color: #0ac697;
  color: rgb(0, 0, 0);
  padding: 1vw 1vw;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Form submit button hover effect */
input[type="submit"]:hover {
  background-color: #068263;
}


.Dashboard {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

.leftBar {
  padding: 3%;
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  background-color: rgb(1, 65, 139);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  color: white;
}

.greeting {
  font-size: 2vw;
  font-weight: 400;
  width: 100%;
}

.logout {
  width: min-content;
  font-size: 1.5vw;
  text-align: center;
  padding: 1.5vw;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

.logout:hover {
  background-color: rgb(39, 39, 39);
  cursor: pointer;
}

.navigation {
  height: 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: space-around;
}

.nav-item {
  cursor: pointer;
  font-size: 2.5vw;
}

.contentBar {
  width: 70%;
  height: 100%;
  background-color: rgb(218, 235, 255);
}

.Batch {
  box-sizing: border-box;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.table-title {
  font-size: 3vw;
  font-weight: 600;
}

.table-content {
  position: relative;
  right: 2%;
  height: 80%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sub-months {
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.current-month {
  font-size: 2.5vw;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.month-details {
  margin: 2% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.detail-item {
  width: 25%;
  text-align: center;
}


.pay-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  top: 0;
  left: 0;
}


/* Define a font stack for the body text */
/* body {
  font-family: Arial, sans-serif;
} */

/* Style the payment page container */
.Pay {
  /* Center the container on the page */
  margin: 0 auto;
  /* Set the width of the container to 60% of the viewport width */
  width: 60vw;
  /* Set the maximum width of the container to 500px */
  max-width: 500px;
  /* Add some padding to the container */
  padding: 20px;
  /* Set the background color of the container */
  background-color: #f0f0f0;
  /* Set the border of the container */
  border: 1px solid #ccc;
  /* Add some rounded corners to the container */
  border-radius: 5px;
}

/* Style the heading */
.Pay>h1 {
  /* Center the heading */
  text-align: center;
  /* Add some margin to the top of the heading */
  margin-top: 0;
  /* Set the font size to 150% */
  font-size: 150%;
}

/* Style the paragraph elements */
.Pay>p {
  /* Set the font size to 120% */
  font-size: 120%;
  /* Add some margin to the bottom of the paragraphs */
  margin-bottom: 10px;
}

/* Style the button */
.Pay>button {
  /* Set the display to block so that the button takes up the full width of the container */
  display: block;
  /* Set the width of the button to 100% */
  width: 100%;
  /* Add some padding to the button */
  padding: 10px;
  /* Set the font size to 120% */
  font-size: 120%;
  /* Set the background color of the button */
  background-color: #0099ff;
  /* Set the text color of the button */
  color: #fff;
  /* Add a hover effect to the button */
  cursor: pointer;
  transition: background-color 0.3s;
}

.Pay>button:hover {
  background-color: #0066cc;
}

.Enrollment{
  box-sizing: border-box;
  padding: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Payments{
  box-sizing: border-box;
  padding: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title{
  font-size: 3vw;
  font-weight: 600;
}

.col{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  height: 85%;
}

.bold{
  font-weight: 700;
  font-size: 1.7vw;
}

.row{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2% 0%;
}

.item{
  width: 20%;
  font-size: 1.5vw;
}

.form{
  width: 100%;
  box-sizing: border-box;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.radioElem{
  margin: 2% 0%;
  font-size: 1.3vw;
  display: flex;
  flex-direction: row;
  align-items: flex-center;
  justify-content: flex-start;
}

.radioContainer1{
  display: flex;
  flex-direction: column;
  height: 20%;
}


.label{
  width: 100%;
  font-weight: 500;
  font-size: 2vw;
  margin-bottom: 3%;
}

.label-title{
  margin-bottom: 2%;
}

.select{
  padding: 1%;
  font-size: 1.3vw;
}

.payButtonn:hover{
  background-color: #00a078;
}

.payButtonn{
  color: white;
  padding: 2% 5%;
  font-size: 2vw;
  background-color: #0ac697;
  border-radius: 5px;
}